@mixin font{
    font-family: 'Comfortaa', cursive;
    color: $color-font;
}

@mixin hover{
    &:hover{
        color: $color-primario;
    }
}

$color-font: #d6d6d6;
$color-background-secundario: rgb(24, 24, 24);
$color-background-oscuro: rgb(12, 12, 12);

$color-primario: #f82541;
$color-secundario: #e91733;

$color-icons: invert(87%) sepia(0%) saturate(1108%) hue-rotate(204deg) brightness(124%) contrast(68%);
$color-icons-hover: invert(20%) sepia(68%) saturate(3929%) hue-rotate(340deg) brightness(102%) contrast(95%);