@import '../componentes/Constantes';

.contenedor-contacto{
    height: 100vh;
    background-color: $color-background-secundario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20vh 15vw 0 15vw;
    .contacto-titulo{
        font-family: 'Urbanist';
        font-size: 1.5rem;
        color: $color-primario;
        margin: 0 5%;
    }
    .contenedor-inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vh 0;
        .input-contacto{
            width: 90%;
            margin: 1vh 0;
            background-color: $color-background-oscuro;
            border: none;
            &:focus{
                outline: none;
            }
        }
        .input-contacto-nombre, .input-contacto-email{
            height: 6vh;
            padding: 0 2vw;
        }
        .input-contacto-textarea{
            height: 30vh;
            resize: none;
            padding: 2vh 2vw;
        }
        .input-contacto-enviar{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15vw;
            height: 8vh;
            background-color: $color-primario;
            border: none;
            margin: 5vh;
            transition: 0.5s;
            &:hover{
                cursor: pointer;
                background-color: $color-secundario;
            }
        }
    }
    .mensaje-enviado{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .text-mensaje-enviado{
            font-family: 'Comfortaa';
            font-weight: 700;
            font-size: 1.5rem;
            margin: 0 5%;
        }
        .boton-mensaje-enviado{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15vw;
            height: 8vh;
            background-color: $color-primario;
            border: none;
            margin: 5vh;
            transition: 0.5s;
            &:hover{
                cursor: pointer;
                background-color: $color-secundario;
            }
        }
    }
}


@media (max-width:768px){
    .contenedor-contacto{
        padding: 8vh 0 0 0;
        .contenedor-inputs{
            .input-contacto-enviar{
                margin: 10% 0 0 0;
                width: 45%;
            }
        }
        .mensaje-enviado{
            justify-content: center;
            .text-mensaje-enviado{
                margin: 0 10%;
            }
            .boton-mensaje-enviado{
                width: 45%;
            }
        }
    }
}