@import '../componentes/Constantes';

.contenedor-sobre-mi{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15vh 15vw 3vw 15vw;
    background-color: $color-background-secundario;
    .sobre-mi-titulo{
        font-family: 'Urbanist';
        font-size: 1.5rem;
        color: $color-primario
    }
    .contenedor-descripcion-cursos{
        min-height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5vh 5vw;
        background-color: $color-background-oscuro; 
        .sobre-mi-descripcion{
            margin-bottom: .8rem;
            line-height: 1.3rem;
        }
        .curso-individual{
           margin: 1vh 0;
           .titulo-curso{
            color: $color-primario;
           }
        }
    }
    .contenedor-boton-sobre-mi{
        width: 100%;
        display: flex;
        justify-content: center;
        .sobre-mi-boton{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15vw;
            height: 8vh;
            transition: 0.5s;
            background-color: $color-primario;
            &:hover{
                cursor: pointer;
                background-color: $color-secundario;
            }
        }
    }
}


@media (max-width:768px){
    .contenedor-sobre-mi{
        height: 100vh;
        width: 100vw;
        padding: 0 5%;
        .sobre-mi-titulo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            font-size: 2rem;
        }
        .contenedor-descripcion-cursos{
            padding: 4vh 5vw;
            min-height: 55%;
            .sobre-mi-descripcion{
                line-height: 1.4rem;
            }
            .curso-individual{
                .titulo-curso{
                    margin-bottom: .6rem;
                }
            }
        }
        .contenedor-boton-sobre-mi{
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .sobre-mi-boton{
                width: 35vw;
            }
        }
    }
}